<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Todo" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>

    <script>
      $(function(){
        $('input[type="submit"]').click(function(e){
          e.preventDefault();
          send_message(get_request_text($("form")));
        })

        function send_message(text){
          liff.sendMessages(
            [
              {
                type: 'text',
                text: text
              }
            ]
          ).then(() => {
            liff.closeWindow();
          })
          .catch((err) => {
            alert('error', err);
          });
        }

        function get_request_text(form_element){
          var data = get_form_data(form_element);
          var json = JSON.stringify(data);
          var method = form_element.attr("method").toUpperCase();
          var url = form_element.attr("action");
          return `${method} ${url}\n${json}`;
        }

        function get_form_data(form_element){
          var excpet = ["utf8","authenticity_token"];
          var form = form_element.serializeArray();
          form = form.filter((a)=>{ return !excpet.includes(a.name) })
          var data = {}
          form.forEach((a)=>{ set_object_value(data, a.name, a.value) })
          return data;
        }

        function set_object_value(object, path, value){
          var o = object;
          var p = path.replace(/(\]\[)/g, "[").replace(/]$/g, "").split("[")
          var last_key = p.pop();
          p.forEach((key)=>{
            o[key] = o[key] || {}
            o = o[key]
          })
          o[last_key] = value;
        }
      });
    </script>
  </body>
</html>
